* {
    box-sizing: border-box;
    margin: auto;
}

.container {
    width: 45%;
}

#inputField {
    width: 85%;
    height: 46px;
    border: 1px solid black;
    float: left;
}

#addToDo {
    height: 46px;
    width: 15%;
    border: 1px solid black;

}

#contlist, #toDoContainer {
    width: 100%;
    display: block;
}

.to-dos {
    margin-top: 25px;
}

.list-styling {
    width: 100%;
    display: block;
    cursor: pointer;
    
}

/*buttons are inline elements. They don't start on different lines. How to change */
/* just ask for freaking help on stack overflow */

.list-item-styling{
    float: left;
}
